<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>$(TRACEXY_HELPER_BUNDLE_ID)</string>
    <key>CFBundleName</key>
    <string>TracexyCaptureHelper</string>
    <key>CFBundleExecutable</key>
    <string>TracexyCaptureHelper</string>
    <key>CFBundleVersion</key>
    <string>$(TRACEXY_HELPER_BUILD)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(TRACEXY_HELPER_VERSION)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>TracexyHelperProtocolVersion</key>
    <string>$(TRACEXY_HELPER_PROTOCOL_VERSION)</string>
    <key>TracexyFamilyNamespace</key>
    <string>$(TRACEXY_FAMILY_NAMESPACE)</string>
    <key>TracexyHelperBundleIdentifier</key>
    <string>$(TRACEXY_HELPER_BUNDLE_ID)</string>
    <key>TracexyHelperMachServiceName</key>
    <string>$(TRACEXY_HELPER_MACH_SERVICE_NAME)</string>
    <key>TracexyAllowedCallerIdentifiers</key>
    <string>$(TRACEXY_ALLOWED_CALLER_IDENTIFIERS)</string>
    <key>TracexyLogSubsystem</key>
    <string>$(TRACEXY_HELPER_BUNDLE_ID)</string>
</dict>
</plist>
